@charset "UTF-8";

:root{
    --lightest: #FBF7F1;
    --light: #B59173;
    --dark: #553b37bd;
    --darkest: #382622;
}
*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0px;
    background-color: white;
    color: var(--darkest);
}
/* cabeçalho e menu */
header{
    width: 100%;
}
h1{
    color: var(--darkest);
    background-color: var(--light);
    text-align: center;
    font-family:cursive;
    font-size: 3em;
}
nav{
    color: var(--darkest);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1em;
    font-weight: 530;
    background-color: var(--light);
    margin-bottom: 10px;
}
nav li{
    display: inline-block;
    padding: 10px;
    margin: 0;
}
a.home{
    color: #1F1817;
    text-decoration: none;
    background-color: #B59173;
    padding: 10px;
    margin: 0 -10px;
}
a.home:hover{
    color: var(--lightest);
    background-color: var(--darkest);
}
a.menu{
    color: #1F1817;
    text-decoration: none;
    background-color: #B59173;
    padding: 10px;
}
.topmenu:hover{
    color: var(--lightest);
    background-color: var(--darkest);
    cursor: default;
}

.topmenu:hover .dropmenu{
    display: block;
}
.dropmenu{
    display: none;
    position: fixed;
    text-align: center;
    margin-top: 10px;
    transform: translateX(-11px);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.39);
    border-style: solid;
    border-color: var(--light);
    border-width: 10px;
    border-radius: 0 0 10px 10px;
}
.dropmenu a{
    display: block;
    padding: 10px;
}
.dropmenu a:hover{
    color: var(--lightest);
    background-color: var(--darkest);
    border-color: var(--darkest);
}

/* início do conteúdo */
h2{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.2em;
    margin-bottom: 15px;
    background-color: var(--dark);
    color: var(--lightest);
    border-radius: 15px;
    padding: 5px;
}
p{
    font-family: Arial, Verdana, sans-serif;
    font-size: 1.2em;
    margin-bottom: 10px;
}
h3{
    font-size: 1.5em;
    margin: 10px 0;
    background-image: linear-gradient(to right,var(--dark) 25%,#553b3700);
    color: var(--lightest);
    text-align: left;
    padding: 5px 15px;
}
li{
    font-family: Arial, Verdana, sans-serif;
    font-size: 1.2em;
    margin: 10px 0;
    list-style-position: inside;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    border-radius: 10px;
    margin-bottom: 10px;
}
main{
    padding: 20px 30px;
    color: var(--darkest);
    border-radius: 10px;
    background-color: var(--lightest);
    max-width: 780px;
    min-width: 200px;
    margin: auto;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.178);
    text-align: justify;
}
h4{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 5px;
    color: var(--lightest);
}
h4.multi{
    color: var(--darkest);
    text-align: left;
    font-family: Arial, Verdana, sans-serif;
    margin: 5px 0;
}
aside{
    text-indent: 15px;
    line-height: 1.4em;
    text-align: justify;
    font-family: Arial, Verdana, sans-serif;
    color: var(--lightest);
    columns: 2;
    font-size: small;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: var(--dark);
    max-width: 780px;
    min-width: 200px;
    margin: auto;
    margin-top: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.178);
}
aside.choco{
    columns: 1;
}
/* rodapé */
h5{
    font-size: 1.1em;
    padding: 0 15px;
}
.ftr ul{
    text-align: left;
    width: 100%;
}
.ftr li{
    display: inline-block;
    padding: 0 10px;
}
.ftr a{
    font-size: 0.9em;
    color: var(--light);
    text-decoration: none;
    font-weight: bolder;
}
.ftr{
    display: grid;
    place-items: center;
    height: fit-content;
    margin-top: 10px;
    padding: 10px 0;
    text-align: center;
    background-color: #1F1817;
    color: var(--lightest);
    width: 100%;
}
/* específico do home */
h2.home{
    max-width: 780px;
    min-width: 200px;
    margin: auto;
    margin-bottom: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.178);
    padding: 10px 30px;
}
h3.home{
    background-color: var(--dark);
    background-image: none;
    border-radius: 10px;
    text-align: center;
}
a.hpage{
    color: var(--darkest);
    padding: 7px;
}
a.hpage:hover{
    color: var(--dark);
}
nav.home{
    background-color: var(--lightest);
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto;
}
li.home{
    display: block;
    text-align: center;
}
.home a{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3em;
    text-decoration: none;
}

/*Mobile*/
@media only screen and (max-width: 600px) {
    html, body {
        overflow-x: hidden;
      }
    body {
        margin-left: 0px;
        margin-right: 0px;
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
        position: relative;
        }
    main{
        padding-left: 10px;
        padding-right: 10px;
        }
    nav.home{
        display: block;
        }
    aside{
        columns: 1;
        }
  }